.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.col-1 {
    flex: 0 0 calc(8.3333% - 1em);
    max-width: calc(8.3333% - 1em);
    padding: 0.5em;
    margin: 0.5em;
}

.col-2 {
    flex: 0 0 calc(16.6666% - 1em);
    max-width: calc(16.6666% - 1em);
    padding: 0.5em;
    margin: 0.5em;
}

.col-3 {
    flex: 0 0 calc(25% - 1em);
    max-width: calc(25% - 1em);
    padding: 0.5em;
    margin: 0.5em;
}

.col-4 {
    flex: 0 0 calc(33.3333% - 1em);
    max-width: calc(33.3333% - 1em);
    padding: 0.5em;
    margin: 0.5em;
}

.col-5 {
    flex: 0 0 calc(41.6666% - 1em);
    max-width: calc(41.6666% - 1em);
    padding: 0.5em;
    margin: 0.5em;
}

.col-6 {
    flex: 0 0 calc(50% - 1em);
    max-width: calc(50% - 1em);
    padding: 0.5em;
    margin: 0.5em;
}

.col-7 {
    flex: 0 0 calc(58.33333% - 1em);
    max-width: calc(58.33333% - 1em);
    padding: 0.5em;
    margin: 0.5em;
}

.col-8 {
    flex: 0 0 calc(66.6666% - 1em);
    max-width: calc(66.6666% - 1em);
    padding: 0.5em;
    margin: 0.5em;
}

.col-9 {
    flex: 0 0 calc(75% - 1em);
    max-width: calc(75% - 1em);
    padding: 0.5em;
    margin: 0.5em;
}

.col-10 {
    flex: 0 0 calc(83.33333% - 1em);
    max-width: calc(83.33333% - 1em);
    padding: 0.5em;
    margin: 0.5em;
}

.col-11 {
    flex: 0 0 calc(91.6666% - 1em);
    max-width: calc(91.6666% - 1em);
    padding: 0.5em;
    margin: 0.5em;
}

.col-12 {
    flex: 0 0 calc(100% - 1em);
    max-width: calc(100% - 1em);
    padding: 0.5em;
    margin: 0.5em;
}

@media screen and (max-width: 1200px) {
    .col-xl-1 {
        flex: 0 0 calc(8.3333% - 1em);
        max-width: calc(8.3333% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-xl-2 {
        flex: 0 0 calc(16.6666% - 1em);
        max-width: calc(16.6666% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-xl-3 {
        flex: 0 0 calc(25% - 1em);
        max-width: calc(25% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-xl-4 {
        flex: 0 0 calc(33.3333% - 1em);
        max-width: calc(33.3333% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-xl-5 {
        flex: 0 0 calc(41.6666% - 1em);
        max-width: calc(41.6666% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }

    .col-xl-6 {
        flex: 0 0 calc(50% - 1em);
        max-width: calc(50% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-xl-7 {
        flex: 0 0 calc(58.33333% - 1em);
        max-width: calc(58.33333% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-xl-8 {
        flex: 0 0 calc(66.6666% - 1em);
        max-width: calc(66.6666% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-xl-9 {
        flex: 0 0 calc(75% - 1em);
        max-width: calc(75% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-xl-10 {
        flex: 0 0 calc(83.33333% - 1em);
        max-width: calc(83.33333% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-xl-11 {
        flex: 0 0 calc(91.6666% - 1em);
        max-width: calc(91.6666% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-xl-12 {
        flex: 0 0 calc(100% - 1em);
        max-width: calc(100% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
}

@media screen and (max-width: 992px) {
    .col-lg-1 {
        flex: 0 0 calc(8.3333% - 1em);
        max-width: calc(8.3333% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-lg-2 {
        flex: 0 0 calc(16.6666% - 1em);
        max-width: calc(16.6666% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-lg-3 {
        flex: 0 0 calc(25% - 1em);
        max-width: calc(25% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-lg-4 {
        flex: 0 0 calc(33.3333% - 1em);
        max-width: calc(33.3333% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-lg-5 {
        flex: 0 0 calc(41.6666% - 1em);
        max-width: calc(41.6666% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-lg-6 {
        flex: 0 0 calc(50% - 1em);
        max-width: calc(50% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-lg-7 {
        flex: 0 0 calc(58.33333% - 1em);
        max-width: calc(58.33333% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-lg-8 {
        flex: 0 0 calc(66.6666% - 1em);
        max-width: calc(66.6666% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-lg-9 {
        flex: 0 0 calc(75% - 1em);
        max-width: calc(75% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-lg-10 {
        flex: 0 0 calc(83.33333% - 1em);
        max-width: calc(83.33333% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-lg-11 {
        flex: 0 0 calc(91.6666% - 1em);
        max-width: calc(91.6666% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-lg-12 {
        flex: 0 0 calc(100% - 1em);
        max-width: calc(100% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
}


@media screen and (max-width: 768px) {
    .col-md-1 {
        flex: 0 0 calc(8.3333% - 1em);
        max-width: calc(8.3333% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-md-2 {
        flex: 0 0 calc(16.6666% - 1em);
        max-width: calc(16.6666% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-md-3 {
        flex: 0 0 calc(25% - 1em);
        max-width: calc(25% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-md-4 {
        flex: 0 0 calc(33.3333% - 1em);
        max-width: calc(33.3333% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-md-5 {
        flex: 0 0 calc(41.6666% - 1em);
        max-width: calc(41.6666% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-md-6 {
        flex: 0 0 calc(50% - 1em);
        max-width: calc(50% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-md-7 {
        flex: 0 0 calc(58.33333% - 1em);
        max-width: calc(58.33333% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-md-8 {
        flex: 0 0 calc(66.6666% - 1em);
        max-width: calc(66.6666% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-md-9 {
        flex: 0 0 calc(75% - 1em);
        max-width: calc(75% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-md-10 {
        flex: 0 0 calc(83.33333% - 1em);
        max-width: calc(83.33333% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-md-11 {
        flex: 0 0 calc(91.6666% - 1em);
        max-width: calc(91.6666% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-md-12 {
        flex: 0 0 calc(100% - 1em);
        max-width: calc(100% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
}

@media screen and (max-width: 576px) {
    .col-sm-1 {
        flex: 0 0 calc(8.3333% - 1em);
        max-width: calc(8.3333% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-sm-2 {
        flex: 0 0 calc(16.6666% - 1em);
        max-width: calc(16.6666% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-sm-3 {
        flex: 0 0 calc(25% - 1em);
        max-width: calc(25% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-sm-4 {
        flex: 0 0 calc(33.3333% - 1em);
        max-width: calc(33.3333% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-sm-5 {
        flex: 0 0 calc(41.6666% - 1em);
        max-width: calc(41.6666% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-sm-6 {
        flex: 0 0 calc(50% - 1em);
        max-width: calc(50% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-sm-7 {
        flex: 0 0 calc(58.33333% - 1em);
        max-width: calc(58.33333% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-sm-8 {
        flex: 0 0 calc(66.6666% - 1em);
        max-width: calc(66.6666% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-sm-9 {
        flex: 0 0 calc(75% - 1em);
        max-width: calc(75% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-sm-10 {
        flex: 0 0 calc(83.33333% - 1em);
        max-width: calc(83.33333% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-sm-11 {
        flex: 0 0 calc(91.6666% - 1em);
        max-width: calc(91.6666% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    .col-sm-12 {
        flex: 0 0 calc(100% - 1em);
        max-width: calc(100% - 1em);
        padding: 0.5em;
        margin: 0.5em;
    }
}


.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}