
.spinner-1 {
    height: 100px;
    width: 100px;
    border: 10px solid var(--app-primary-color);
    border-radius: 50%;
    /* margin: auto; */
    border-top-color: var(--color-blue);
    animation: spinner 0.7s linear infinite;
}

.spinner-2 {
    height: 100px;
    width: 100px;
    border: 10px solid transparent;
    border-radius: 50%;
    /* margin: auto; */
    border-top-color: var(--color-blue);
    border-bottom-color: var(--color-blue);
    animation: spinner 0.7s ease infinite;
}

.spinner-3 {
    height: 100px;
    width: 100px;
    /* border: 10px solid lightgrey; */
    border-top: 10px solid var(--color-blue);
    border-left: 10px solid var(--color-blue);
    border-right: 10px solid transparent;
    border-radius: 50%;
    /* margin: auto; */
    animation: spinner 0.7s linear infinite;
}

.spinner-4 {
    height: 100px;
    width: 100px;
    border: 15px dotted var(--color-blue);
    border-radius: 50%;
    /* margin: auto; */
    /* border-top-color: lightsalmon; */
    animation: spinner 0.7s linear infinite;
}

.spinner-5 {
    height: 100px;
    width: 100px;
    border: 5px dashed var(--color-blue);
    border-radius: 50%;
    animation: spinner 0.7s linear infinite;
}

.spinner-6 {
    /* height: 100px; */
    width: 100px;
    border: 5px dashed var(--color-blue);
    /* border-top-style: solid; */
    /* border-radius: 50%; */
    /* margin: auto; */
    /* border-top-color: lightsalmon; */
    animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}